/*
	Syntax for CSS

	Selector {
		property: value;
		property: value;
	}

*/

*
#profile {
	height: 250px;
	width: 250px;
	margin: 15px;

	/*Optional   */
	border-radius: 50%;
}

footer {
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
}

.fa-facebook, .fa-instagram, .fa-tiktok, .fa-twitter, .fa-youtube, .fa-reddit {
		font-size: 25px;
		color: white;
		margin: 0 10px 0 10px;
		
}

.fa-facebook:hover, .fa-instagram:hover, .fa-tiktok:hover, .fa-twitter:hover, .fa-youtube:hover, .fa-reddit:hover {
		color: red;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
